<p id="notice"><%= notice %></p>

<section class="row header">
    <div class="col row profile_info">
        <div class="col profile_photo">
        <% if @profile.photo_url(:original) %>
          <%= image_tag @profile.photo_url(:original) %>
        <% end %>
        </div>
        <div class="col profile_name">
            <h1><%= "#{@profile.first_name} #{@profile.last_name}" %></h1>
        </div>
    </div>
</section>

 <section class="row main">
    <div class="col have">
        <div class="items_block">
            <h3>Things I own</h3>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
        </div>

        <div class="items_block">
            <h3>Skills/Experiences I am good at</h3>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
        </div>

        <div class="items_block">
            <h3>Things/Skills I can provide</h3>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col want">
        <div class="items_block">
            <h3>Things I want</h3>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
        </div>

        <div class="items_block">
            <h3>Skills/Experiences I am looking for</h3>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
        </div>

        <div class="items_block">
            <h3>Things/Skills I need</h3>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
            <div class="row item">
                <div class="col-2 item_photo"></div>
                <div class="col item_description">
                    <h4>Item</h4>
                </div>
            </div>
        </div>
    </div>

</section>
