<section class="row header-landing">
    <div class="app_title">
        <h1>Flotsy</h1>
    </div>
</section>

<section class="buttons-landing">
    <div class="button-group-landing">
        <%= link_to button_tag("Get Started"), listings_path %>
        <%= link_to button_tag("Sign in"), new_user_session_path %>
        <%= link_to button_tag("Sign up"), new_user_registration_path %>
    </div>
</section>