<p id="notice"><%= notice %></p>

<div class="container">
  <h1>My Conversations</h1>

  <% @conversations.each do |conversation| %>
    <h2><%= link_to other_participant_name(conversation), conversation_path(conversation) %></h2>
    <% if conversation.messages.count > 0 %>
      <p><%= conversation.messages.last.body %></p>
    <% end %>
  <% end %>
</div>