<p id="notice"><%= notice %></p>

<section class="conversations">
  <h3>My Messages</h3>

  <% @conversations.each do |conversation| %>
    <div class="inbox_item">
      <h2><%= link_to other_participant_name(conversation), conversation_path(conversation) %></h2>
      <% if conversation.messages.count > 0 %>
        <p><%= conversation.messages.last.body %></p>
      <% end %>
    </div>
  <% end %>
</section>