$body_bacground_color: #e5e5e5;
$header_background_color: #626262;
// $footer_background_color: #626262;
$have_background_color: #9e9e9e;
$want_background_color: #dad9d9;
$item_background_color: #c4c4c4;
$item_photo_background_color: #807c7c;
$profile_photo_background_color: #c4c4c4;
$snow: #f2f2f2;
$black: #333333;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

@import "bootstrap";
@import "conversations";

/*
*   All pages
*/

* {
  font-family: "Raleway", sans-serif;
  color: $black;
}

body {
  background: $body_bacground_color;
}

section.header {
  background: $header_background_color;
  height: 120px;

  div.navigation {
    color: $snow;
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;

    a {
      text-decoration: none;
      color: $snow;
    }
    a:hover {
      text-decoration: underline;
    }
  }

}

/*
*   Show Profile Page
*/
section.profile_header {
  background: $header_background_color;
  height: 120px;
  margin-top: 20px;

  div.profile_info {
    height: 150px;

    div.profile_photo {
      max-height: 100px;
      max-width: 100px;
      min-height: 100px;
      min-width: 100px;
      margin-left: 50px;
      margin-top: 10px;
      border-radius: 100%;
      background: $profile_photo_background_color;
      background-size: cover;
    }

    div.profile_name {
      margin-top: 23px;
      h1 {
        font-size: 64px;
        font-family: "Dancing Script", cursive;
        color: $snow;
        text-shadow: $shadow;
      }
    }
  }
}

section.main {
  div.have {
    background: $have_background_color;
    padding-bottom: 25px;
    min-width: 350px;
  }
  div.want {
    background: $want_background_color;
    padding-bottom: 25px;
    min-width: 350px;
  }

  div.items_block {
    margin-top: 15px;

    a {
      text-decoration: none;
    }

    h3 {
      margin-left: 35px;
    }
    div.item {
      margin-top: 15px;
      background: $item_background_color;
      height: 70px;
      margin-left: 35px;
      margin-right: 35px;
      box-shadow: $shadow;

      div.item_photo {
        min-width: 70px;
        max-width: 70px;
        background: $item_photo_background_color;
        background-size: cover;
      }
      div.item_description {
        h4 {
          margin-top: 10px;
        }
      }
    }
  }
  div.items_block:first-of-type {
    margin-top: 20px;
  }
}

// section.footer {
//     background: $footer_background_color;
//     height: 120px;
// }

@media screen and (max-width: 830px) {
  /* Profile name font size */
  div.profile_name {
    h1 {
      font-size: 50px !important;
    }
  }
}

@media screen and (max-width: 710px) {
  /* Hide Navigation */
  div.navigation {
    display: none;
  }
}

@media screen and (max-width: 453px) {
  /* Profile name font size */
  div.profile_name {
    h1 {
      font-size: 40px !important;
    }
  }
}

/*
*   Landing Page
*/
section.header-landing {
  background-color: $header_background_color;
  height: 350px;

  div.app_title {
    margin-left: auto;
    margin-right: auto;

    h1 {
      margin-top: 150px;
      font-size: 144px;
      font-family: "Dancing Script", cursive;
      color: $snow;
      text-shadow: $shadow;
    }
  }
}

section.buttons-landing {
  margin-top: 50px;

  div.button-group-landing {
    width: 580px;
    margin-left: auto;
    margin-right: auto;

    a {
      text-decoration: none;
    }
    button {
      display: block;
      height: 50px;
      width: 580px;
      font-size: 22px;
      margin-bottom: 15px;
    }
  }
}

/*
*   Listing Page
*/
section.header {
  div.header_title {
    height: 150px;
    margin-left: 35px;
    margin-top: 15px;

    a {
      text-decoration: none;
    }

    h1 {
      font-size: 64px;
      font-family: "Dancing Script", cursive;
      color: $snow;
      text-shadow: $shadow;
    }
  }
}

section.main {
  div.listing {
    div.item {
      margin-top: 15px;
      background: $item_background_color;
      min-height: 140px;
      max-height: 500px;
      // min-width: 450px;
      margin-left: 35px;
      margin-right: 35px;
      box-shadow: $shadow;
      overflow: hidden;

      div.item_photo {
        min-width: 140px;
        max-width: 140px;
        background: $item_photo_background_color;
        background-size: cover;
      }
      div.item_description {
        overflow: hidden;
        margin-left: 10px;
        min-height: 140px;
        
        h4 {
          margin-top: 10px;
          font-size: 48px;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  /* Item photo */
  div.item_photo {
    display: none;
  }
  /* Item title size */
  div.item_description {
    h4 {
      margin-top: 10px;
      font-size: 32px !important;
      font-weight: bold;
    }
  }
}

/*
*   Show Item Page
*/
section.main {
  div.show_item {
    background: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0;
    box-shadow: $shadow;

    div.item_image {
      width: 550px;
      height: 550px;

      background: $item_photo_background_color;
      background-size: cover;
    }

    div.item_info {
      width: 450px;
      margin-top: 20px;
      h4 {
        font-size: 36px;
        text-align: center;
      }
      p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
      }
      div.show_item_button_group {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;

        form {
          button {
            // background: red;
            width: 200px;
            height: 30px;
            margin-bottom: 10px;
          }
        }
        button {
          width: 200px;
          height: 30px;
          margin-bottom: 10px;
        }
        
      }
    }
  }
}


/*
*   Conversations
*/
section.conversations {
  div.inbox_item {
    background: $want_background_color;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
  }
  a {
    text-decoration: none;
    color: $black;
  }
  a:hover {
    text-decoration: underline;
  }
}

